@media all and (max-width: 650px) {
    #home-feedbackImage {
        display: none;
        margin: 0;
        padding: 0;
    }
    #home-feedbackText {
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }
    #home-feedbackItem {
        padding: 0 40px;
    }
}

@media all and (max-width: 400px) {
    #home-feedbackItem {
        padding: 0 30px;
    }
}